/* #root {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

main .card-deck {
  /* display: block; */
  width: 70%;
  margin: 0 auto;
}
/* .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

header,
footer {
  margin: 20px 0 36px 0;
}

img {
  margin-top: 36px;
  max-width: 300px;
  text-align: center;
}

div.modal-content {
  /* width: 900px; */
}

img.card-img {
  text-align: center;
  display: block;
  margin: 42px auto;
}

.card-title.h5 {
  text-align: center;
  color: blue;
  font-size: 36px;
  font-weight: 600;
}

p.card-text {
  text-align: center;
}

/* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* .card-deck {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */

.card-deck > div {
  margin-top: 24px;
}

.card-deck > div > div > img {
  align-self: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (max-width: 1200px) {
  .card-columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
} */

div.form-group {
  width: 300px;
  margin: 0 auto;
}
